<section class="container">
  <div class="events">

    <p>
      <%= @event.name %>
    </p>

    <p>
      <%= @event.date %>
    </p>

    <p>
      <%= @event.time %>
    </p>

    <p>
      <%= @event.description %>
    </p>

    <p>
      <%= @event.image %>
    </p>

    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>

  </div>
</section>
